* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
}

header {
  margin: 1em 3em;
  nav {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .navigation ul {
      list-style-type: none;
      display: flex;

      li {
        padding-left: 40px;

        a {
          text-decoration: none;
        }

        a:visited {
          color: black;
        }
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: 3em 1fr 1fr 1fr 3em;
  height: 92vh;

  .big-text {
    grid-column: 3/4;
    text-align: center;
    align-self: center;
    justify-self: center;

    h3 {
      font-size: 37px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
    }

    h1 {
      font-size: 94px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    .action {
      font-size: 44px;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      align-content: center;

      a {
        text-decoration: none;
        border: 2px black solid;
        border-radius: 20px;
        padding: 0 20px;
        align-content: center;
      }

      .main-action:visited {
        color: white;
      }

      .main-action {
        color: white;
        background-color: black;
        transition: 0.25s ease-in-out;
      }

      .main-action:hover {
        color: black;
        background-color: white;
      }

      a:visited {
        color: black;
      }
    }
  }
}
