* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
}

.landing {
  background: url(../img/bg.png) no-repeat center fixed;
  background-size: cover;
}

header {
  padding: 1em 3em;
}

header nav {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
}

header nav a {
  text-decoration: none;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  color: white;
}

header nav a:visited {
  color: white;
}

header nav a:hover {
  opacity: 0.5;
}

header nav .navigation ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .navigation ul li {
  padding-left: 40px;
}

header nav .navigation ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header nav .navigation ul li a:visited {
  color: white;
}

header nav .navigation ul li a:hover {
  opacity: 0.5;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3em 1fr 1fr 1fr 3em;
      grid-template-columns: 3em 1fr 1fr 1fr 3em;
  height: 94vh;
  color: white;
  overflow: hidden;
  position: relative;
}

main .big-text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .big-text h3 {
  font-size: 37px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

main .big-text h1 {
  font-size: 94px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

main .big-text .action {
  font-size: 44px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .big-text .action a {
  text-decoration: none;
  border: 1px white solid;
  border-radius: 20px;
  -webkit-box-shadow: inset;
          box-shadow: inset;
  padding: 0 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

main .big-text .action .main-action:visited {
  color: #655269;
}

main .big-text .action .main-action {
  color: #655269;
  border: rgba(0, 0, 0, 0) 2px solid;
  background-color: white;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

main .big-text .action .main-action:hover {
  color: white;
  background-color: rgba(101, 82, 105, 0.5);
  border: rgba(101, 82, 105, 0) 2px solid;
}

main .big-text .action a:visited {
  color: white;
}

main .big-text .action a.merch {
  opacity: 0.8;
}

main .big-text .action a.merch:hover {
  opacity: 1;
}

main .social-icons {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .social-icons a {
  color: white;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

main .social-icons a:visited {
  color: white;
}

main .social-icons a:hover {
  opacity: 0.5;
}

main .social-icons a i {
  font-size: 2.5em;
  padding: 0 0.5em;
}

section.music h2 {
  width: 10%;
  text-align: center;
  margin: auto;
  font-size: 30px;
  border-bottom: 2px solid black;
  margin-top: 1.5em;
}

section.music .music-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3em 1fr 1fr 3em;
      grid-template-columns: 3em 1fr 1fr 3em;
  margin: 3em 0;
}

section.music .music-container .music-player {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: auto;
  width: 50%;
}

section.music .music-container .discography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.music .music-container .discography .album-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[2];
      grid-template-columns: repeat(2, 300px);
  grid-gap: 60px;
}

section.music .music-container .discography .album-container a {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

section.music .music-container .discography .album-container a img {
  width: 300px;
  height: 300px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

section.music .music-container .discography .album-container a:hover img {
  opacity: 0.5;
  height: 340px;
  width: 340px;
}

section.music .music-container .discography .album-container a:hover {
  height: 340px;
  width: 340px;
}
/*# sourceMappingURL=style.css.map */