* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
}

.landing {
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
}

header {
  padding: 1em 3em;
  nav {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;

    a {
      text-decoration: none;
      transition: 0.25s ease-in-out;
    }

    a:visited {
      color: white;
    }

    a:hover {
      opacity: 0.5;
    }

    .navigation ul {
      list-style-type: none;
      display: flex;

      li {
        padding-left: 40px;

        a {
          text-decoration: none;
          color: white;
          transition: 0.25s ease-in-out;
        }

        a:visited {
          color: white;
        }

        a:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: 3em 1fr 1fr 1fr 3em;
  height: 93vh;
  color: white;
  overflow: hidden;

  .big-text {
    grid-column: 3/4;
    text-align: center;
    align-self: center;
    justify-self: center;

    h3 {
      font-size: 37px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
    }

    h1 {
      font-size: 94px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    .action {
      font-size: 44px;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      align-content: center;

      a {
        text-decoration: none;
        border: 2px white solid;
        border-radius: 20px;
        padding: 0 20px;
        align-content: center;
        color: white;
        transition: 0.25s ease-in-out;
      }

      .main-action:visited {
        color: #655269;
      }

      .main-action {
        color: #655269;
        background-color: white;
        transition: 0.25s ease-in-out;
      }

      .main-action:hover {
        color: white;
        background-color: rgba(101, 82, 105, 0.5);
        border: rgba(101, 82, 105, 0) 2px solid;
      }

      a:visited {
        color: white;
      }

      a:hover {
        color: #655269;
        border: #655269 2px solid;
      }
    }
  }
}
